:host {
  height: 100%;
  width: 100%;
}

:host .container {
  padding: 20px;
}

:host .container-card{
  width: 400px;
}

:host .container-card-errors{
  border: 1px solid darkred;
}

:host .example-card {

}

:host .example-card .header-image {
  background-image: url('../../../assets/angular_logo.png');
  background-size: cover;
}
