<!--<button mat-button (click)="onLogin()">Login</button>-->

<!--<mat-spinner *ngIf="loading$ | async"></mat-spinner>-->

<!--<h2 *ngIf="(hasErrors$ | async) && (loading$ | async)">Error: {{errors$ | async | json}}</h2>-->

<div class="container" fxLayout="column" fxLayoutAlign="center center" fxFlexAlign="center center" fxFill="" fxFlexFill="">

  <mat-progress-bar color="accent" mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>

  <div class="lh-login mat-elevation-z4" fxLayout="column">

    <div class="header" fxFlex="60px" fxLayout="row" fxLayoutAlign="start start" style="margin-left: -30px; margin-top: 5px;">
      <img src="/assets/icono.png">
    </div>

    <div [@routerTransition]='' fxFlex="" fxLayout="column" *ngIf="step === StepPass.SelectUsers">
      <h1>Acceder</h1>
      <p>Accede a todas las funcionalidades</p>

      <mat-list style="margin-top: 20px" dense="true" fxLayout="column" fxFlexFill="">
        <mat-list-item *ngFor="let user of localUsers" (click)="onLocalUserSelected(user)">
          <mat-icon mat-list-icon style="font-size: 36px; height: 36px; width: 36px; color: mat-color($accent, default-contrast);">
            account_circle
          </mat-icon>
          <h4 mat-line>{{user.firstName}}, {{user.lastName}}</h4>
          <p mat-line> {{user.username}} </p>
          <button *ngIf="deleteAccount" mat-icon-button (click)="onDeleteAccountFronList(user)">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item (click)="toOtherAccount()">
          <mat-icon style="font-size: 36px; height: 36px; width: 36px" mat-list-icon>account_circle</mat-icon>
          <h4 mat-line>Seleccione otra Cuenta</h4>
          <p mat-line>Ingrese</p>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
      <span fxFlex=""></span>
      <mat-list style="margin-top: 20px" dense="true" fxLayout="column" fxFlexFill="">
        <mat-list-item fxFlex=""></mat-list-item>
        <mat-list-item *ngIf="!deleteAccount" style="margin-top: 20px" (click)="onDeleteAccount()">
          <mat-icon style="font-size: 36px; height: 36px; width: 36px" mat-list-icon>delete</mat-icon>
          <h4 mat-line>Quitar una cuenta</h4>
        </mat-list-item>
        <mat-list-item *ngIf="deleteAccount" style="margin-top: 20px" (click)="onDeleteAccount()">
          <mat-icon style="font-size: 36px; height: 36px; width: 36px" mat-list-icon>done</mat-icon>
          <h4 mat-line>Finalizar</h4>
        </mat-list-item>
      </mat-list>
    </div>

    <form [@routerTransition]='' fxFlex="" fxLayout="column" *ngIf="step === StepPass.UserName" [formGroup]="userForm" (ngSubmit)="toPassword()"
          novalidate>
      <mat-icon></mat-icon>
      <h1>Acceder</h1>
      <p>Accede a todas las funcionalidades</p>

      <mat-form-field hideRequiredMarker="true" floatPlaceholder="true" fxFlex="">
        <input autofocus matInput placeholder="Nombre de usuario o Correo electronico" required formControlName="username">
        <mat-error *ngIf="userForm.invalid">{{getUserNameErrorMessage()}}</mat-error>
      </mat-form-field>

      <div fxFlex="row" style="margin-top: 25px">
        <button mat-button>¿Olvidaste tu nombre de usuario?</button>
        <span fxFlex=""></span>
        <button type="submit" mat-raised-button color="primary">Siguiente</button>
      </div>
    </form>

    <form [@routerTransition]='' (@routerTransition.done)="animationDone($event)" [formGroup]="passwordForm" (ngSubmit)="onLogin()"
          fxFlex="" fxLayout="column" *ngIf="step === StepPass.Password" novalidate>

      <div fxLayout="row" fxLayoutAlign="start center">

        <div fxFlex *ngIf="localUserSelected !== undefined">
          <h1>{{localUserSelected.firstName}} {{localUserSelected.lastName}}</h1>
          <p>{{localUserSelected.username}}</p>
        </div>

        <div fxFlex *ngIf="localUserSelected === undefined">
          <h1>Le damos la Bienvenida</h1>
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-icon style="margin-right: 15px">account_circle</mat-icon>
            <span>{{userForm.controls['username'].value}}</span>
          </div>
        </div>

        <button mat-icon-button (click)="onBack()">
          <mat-icon class="mat-36">keyboard_arrow_left</mat-icon>
        </button>
      </div>

      <mat-form-field hideRequiredMarker="false" floatPlaceholder="true">
        <input type="password" #password formControlName="password" matInput placeholder="Ingrese su contraseña" required>
        <mat-error *ngIf="passwordForm.invalid">{{getPasswordErrorMessage()}}</mat-error>
      </mat-form-field>

      <div fxFlex="row" fxLayoutAlign="start start" style="margin-top: 50px;">

      </div>

      <div fxFlex="row" fxLayoutAlign="end start">
        <button mat-button style="padding-left: 0px" (click)="forgotPassword()">¿Olvidaste la contraseña?</button>
        <span fxFlex=""></span>
        <!--button type="submit" mat-raised-button color="primary" (click)="onBack()" style="margin-right: 15px">
          Volver
        </button-->
        <button type="submit" mat-raised-button color="primary" (click)="onLogin()">Aceptar</button>
      </div>
    </form>

  </div>

</div>
